// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.container {
    max-width: 960px !important;
}

header {
    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 0 !important;
    }

    .logo {
        background: url("../images/pizza.png") no-repeat;
        background-size: contain;
        background-position: center center;
        height: 3rem;
        width: 4rem;
    }
}

.product {
    .v-image {
        cursor: pointer;
    }
}

.product__price {
    font-weight: bold;
    font-size: 1.2rem;
}
.product__btn-detail {
    bottom: 0 !important;
}

.product-detail__btn-close {
    top: 0 !important;
    right: 0 !important;
}




